@media only screen and (max-width: 600px) {
    /*styles for screens with a maximum width of 600px */
    li {
        display: block;
        padding: 10px;
    }

    li a {
        font-size: 18px;
    }
}
.no-bullets {
    list-style: none;
}

 h1 {
    color: rgb(65, 133, 133);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
}

body {
    background-color: rgb(27, 77, 36);
}

li {
    display: inline-flex;
    margin: 0;
}

li a {
    display: inline;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(27, 77, 36);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a:hover {
    background-color: rgb(65, 133, 133);
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
}

.alert-text {
    text-transform: capitalize;
    font-size: 30px;
}

button {
    background-color: rgb(219, 219, 97);
    border-radius: 20px;
    border-color: rgb(131, 26, 26);
    height: 40px;
    width: 170px;
    color: rgb(61, 105, 76);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(217, 220, 20);
}